.container{
    width: 100%;
    padding-right: padding-x;
    padding-left: padding-x;
    margin-right: auto;
    margin-left: auto;
}
.bi{
    width: 50px;
    height: 50px;
    margin-left: 100px;
    margin-top: 50px;
}
.bi1{
    width: 50px;
    height: 50px;
    margin-left: 100px;
    margin-top: 50px;
}
.bi2{
    width: 50px;
    height: 50px;
    margin-left: 100px;
    margin-top: 50px;
}
.bi3{
    width: 50px;
    height: 50px;
    margin-left: 100px;
    margin-top: 50px;
}